@inherits LayoutComponentBase

<PageTitle>OpenEcologyApp</PageTitle>

<div class="page">
    <NavMenu />
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
    <Footer />
</div>

<style>
    .page {
        position: relative;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background-color: var(--bg-light);
    }

    main {
        flex: 1;
        padding: 2rem;
        background-color: var(--bg-light);
    }

    .content {
        max-width: 1200px;
        margin: 0 auto;
    }
</style>
